/*Form*/
#left_form {
	background: #6a3093;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6a3093, #a044ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6a3093, #a044ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Wizard Buttons*/
.button-back,
.button-next {
	background: #6a3093;
}

/*General links color*/
a {
	color: #6a3093;
}
a:hover,
a:focus {
	color: #333;
}
a.btn_1,
.btn_1 {
	background: #6a3093;
}

a.btn_1:hover,
.btn_1:hover {
	background: #333;
    color: #fff;
}

h2.main_title {
    color: #6a3093;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #6a3093;
}
.team-item-detail-inner .social li a:hover {
	color: #6a3093;
}
